h2, p {
  font-family: Arial;
}

ul {
  list-style-type: none;
  background-color: pink;
}

button {
	background-color:red;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-size:10px;
	text-decoration:none;
  border: none
}

ul li{
  margin-top: 15px
}