#root{
	display: flex;
	justify-content: center;
	font-family: Arial;
}

ul{
	width: 100%;
}

.container{
	max-width: 700px;
	min-width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button {
  background-color: red;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 10px;
  text-decoration: none;
  border: none;
  padding: 7px 8px;
  float: right;
}

button:hover {
  background-color: #323232;
  transition: 0.3s;
}

ul li{
  margin-top: 15px
}

.flex-container {
  margin: 0;
  list-style: none;
  display: flex;
	background-color: pink;
	padding: 10px;
}

.flex-start { 
  justify-content: flex-start; 
}

.flex-end { 
  justify-content: flex-end; 
}  
.flex-end li {
  background: gold;
}

.center { 
  justify-content: center; 
}  
.center li {
  background: deepskyblue;
}

.space-between { 
  justify-content: space-between; 
}  
.space-between li {
  background: lightgreen;
}

.space-around { 
  justify-content: space-around; 
}
.space-around li {
  background: hotpink; 
}

.space-evenly { 
  justify-content: space-evenly; 
}
.space-evenly li {
  background: #bada55; 
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 60px;
  height: 50px;
  margin: 5px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}